$main-font-regular: "Dhyana Regular"
$main-font-bold: "Dhyana Bold" 
$links-font: "California Style"
$links-font-size: 2.125rem
$phone-font-size: 1.125rem
$light-brown-font-color: #6A2D01
$dark-brown-font-color: #491F01
$secondary-font-color: #F9F9F9
$background-color: #F9F9F9
$lighter-background-color: #FFFFFF
$green-background-color: #487E66
$breakpoint-xxl: 1400px
$breakpoint-xl: 1200px
$breakpoint-lg: 992px
$breakpoint-md: 768px
$breakpoint-sm: 576px
$breakpoint-xs: 382px