$main-font-regular: "Dhyana Regular"
$main-font-bold: "Dhyana Bold" 
$links-font: "California Style"
$links-font-size: 2.125rem
$phone-font-size: 1.125rem
$medium-font-size: 1.8rem
$light-brown-font-color: #181E40
$dark-brown-font-color: #181E40
$secondary-font-color: #f3f3f3
$secondary-background-color: #f3f3f3
$secondary-color-opacity: rgba(243, 243, 243, 0.5)
$lighter-background-color: #FFFFFF
$green-background-color: #487E66
$green-header-background-opacity: rgba(72, 126, 102, 0.5)
$dark-green-color: rgb(0, 67, 38)
$green-background-color-opacity: rgba(138, 188, 166, 0.2)
$green-background-color-less-opacity: rgba(138, 188, 166, 0.1)
$brown-color: rgba(69, 49, 42, 0.5)
$rose-color: rgba(255, 157, 156, 1)
$light-yellow-color: #F2E0BC
$light-green-color: rgba(141, 189, 113, 0.5)
$pantano-green-color: #7F7E60
$breakpoint-xxl: 1400px
$breakpoint-xl: 1200px
$breakpoint-lg: 992px
$breakpoint-md: 768px
$breakpoint-sm: 576px
$breakpoint-xs: 382px
$font-size-text: clamp(1rem, 0.711rem + 1.21vw, 1.2rem)