@use 'variables'
@use 'mixins'

@font-face 
  font-family: "Dhyana Regular"
  font-style: normal
  font-weight: normal
  src: local("Dhyana Regular"), url("Dhyana-Regular.woff") format("woff")


@font-face 
  font-family: "Dhyana Bold"
  font-style: normal
  font-weight: normal
  src: local("Dhyana Bold"), url("Dhyana-Bold.woff") format("woff")


body, html
    max-width: 100vw
    height: auto
    overflow-x: hidden
    padding: 0
    margin: 0

h1, h2, h3, h4, h5, h6, p, small
    color: variables.$light-brown-font-color
    font-family: variables.$main-font-regular

section
    section: 100vw

.about-us-container .about-us-image img, .slide, .lateral-info
    @include mixins.border-radius

.nav-container 
    @include mixins.flex-space-between
    padding: 2rem 0   
    width: 10rem

nav 
    @include mixins.flex-space-around
    max-width: 100vw
    position: relative

    ul
        padding: 0

    ul li
        list-style-type: none
        display: flex
        justify-content: center
        align-items: center
        width: 10rem
        
a
    @include mixins.navbar-font-style

p
    line-height: 2rem

.top-banner-container
    @include mixins.full-width-containers
    @include mixins.flex-space-between
    background-color: variables.$green-background-color

    .top-banner-children
        @include mixins.objects-gap

        a
            color: variables.$lighter-background-color
            font-family: variables.$main-font-regular
            font-size: variables.$phone-font-size

.logo-container
    position: absolute
    z-index: 2
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

.banner-image-container 
    @include mixins.flex-center
    width: 100%
    // height: 100vh
    background-position-y: center
    background-size: contain
    object-position: center
    object-fit: contain
    contain: content
    position: relative

    section img
        width: 100%
        height: auto
        position: absolute

.banner-text, .text-container
    @include mixins.full-width-containers  
    background-color: variables.$secondary-color-opacity
    
    
    p
        @include mixins.flex-center
        font-size: variables.$font-size-text
        line-height: 2
        padding: 0 10rem
        height: inherit
        color: black

.tracking-in-expand-fwd-top p
    -webkit-animation: tracking-in-expand-fwd-top 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both 
    animation: tracking-in-expand-fwd-top 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both 


    @-webkit-keyframes tracking-in-expand
        0% 
            letter-spacing: -0.5em
            -webkit-transform: translateZ(-700px) translateY(-500px)
            transform: translateZ(-700px) translateY(-500px)
            opacity: 0
    
        40% 
            opacity: 0.6
        
        100% 
            -webkit-transform: translateZ(0) translateY(0)
            transform: translateZ(0) translateY(0)
            opacity: 1
    

    @keyframes tracking-in-expand-fwd-top
        0% 
            letter-spacing: -0.5em
            -webkit-transform: translateZ(-700px) translateY(-500px)
            transform: translateZ(-700px) translateY(-500px)
            opacity: 0
  
        40% 
            opacity: 0.6
        
        100% 
            -webkit-transform: translateZ(0) translateY(0)
            transform: translateZ(0) translateY(0)
            opacity: 1

button
    @include mixins.buttons

.nav-button-toggle-icon
        @include mixins.flex-end

        img 
            width: 1.875rem

.button-mobile-navbar
    @include mixins.flex-space-between
    @include mixins.box-shadow

    width: 100vw 
    padding: 0.5rem 3rem   

    a 
        font-size: 0

        img 
            width: 5rem

.about-us-container
    @include mixins.flex-space-around
    background: variables.$secondary-background-color
    max-width: 100vw

    .about-us-image, .about-us-text
        width: fit-content
        height: auto
        padding: 2rem

        img
            width: 50vw
            height: auto

        button
            @include mixins.functional-buttons

            a
                @include mixins.functional-buttons-text

.functional-button:hover
    @include mixins.functional-buttons-hover

    a:hover
        @include mixins.functional-buttons-hover

.menu
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    max-width: 100vw

    .menu-container
        width: fit-content
        padding: 0 2rem
        text-align: center

        .menu-title
            display: flex
            gap: 2.25rem

    .menu-products
        display: inline-flex
        align-items: center
        justify-content: space-around
        flex-wrap: wrap

        .divider
            width: 14vw

    #menu-menu-title
        border-bottom: 2px solid #5A5A5A
        width: 35vw

        hr
            width: 33vw

hr
    width: 10vw
    height: 1px
    border-bottom: dotted #5A5A5A
    border-top: none
    border-left: none
    border-right: none

#product
    text-align: left   

.individual-menu
    margin: 1rem
    padding: 1rem 0

    small
        display: flex
        justify-content: center
        margin-top: 2rem
    

.lateral-info
    width: 30vw
    height: 20rem
    padding: 3.5rem
    margin: 10% 5rem
    background-color: variables.$green-background-color-opacity

    img
        float: right

.carousel 
    @include mixins.flex-center
    position: relative
    margin: 2rem 3rem

    .carousel-arrow        
        @include mixins.flex-space-between
        width: 93vw
        position: absolute
        top: 35%

        .arrow 
            @include mixins.flex-center
            background-color: variables.$secondary-color-opacity
            width: 2.5rem
            height: 5rem

        .arrow:hover 
            cursor: pointer
            background-color: transparent

        .arrow-left
            border-radius: 0 5px 5px 0

        .arrow-right
            border-radius: 5px 0 0 5px

.arrow-icon
    color: variables.$green-background-color

.image-slider-content
    width: 93vw

.image-slider-content 
    transition: all 1s linear 

.slide 
    box-shadow: 0px 0px 7px #666
    width: inherit
    height: inherit

.slide-hidden 
    display: none

.image-slider-content
    opacity: 1
    transition: opacity 1s ease 0s

.swing-in-top-fwd 
    -webkit-animation: swing-in-top-fwd 1s cubic-bezier(0.445, 0.050, 0.550, 0.950) 1s both
    animation: swing-in-top-fwd 1s cubic-bezier(0.445, 0.050, 0.550, 0.950) 1s both
    
    @-webkit-keyframes swing-in-top-fwd 
        0% 
            -webkit-transform: rotateX(-100deg)
                    transform: rotateX(-100deg)
            -webkit-transform-origin: top
                    transform-origin: top
            opacity: 0
    
        100% 
            -webkit-transform: rotateX(0deg)
                    transform: rotateX(0deg)
            -webkit-transform-origin: top
                    transform-origin: top
            opacity: 1
    
    
    @keyframes swing-in-top-fwd 
        0% 
            -webkit-transform: rotateX(-100deg)
                    transform: rotateX(-100deg)
            -webkit-transform-origin: top
                    transform-origin: top
            opacity: 0
    
        100% 
            -webkit-transform: rotateX(0deg)
                    transform: rotateX(0deg)
            -webkit-transform-origin: top
                    transform-origin: top
            opacity: 1

.menu-animated-image

    @include mixins.full-width-containers
    @include mixins.flex-center  

.contact-container
    width: 100%   
    
    p, h1
        color: variables.$secondary-font-color

    h1
        font-family: variables.$links-font
        text-align: center
        font-size: 3rem
        font-weight: 100

.footer-container
    @include mixins.full-width-containers  
    background-color: variables.$green-background-color
    background-image: url("https://live.staticflickr.com/65535/54083500480_443e6df8c0_o.png")
    background-repeat: no-repeat
    object-fit: cover
    background-position: top left
   

    .box-container
        // @include mixins.flex-center
        display: flex
        justify-content: center
        width: 100%
        border-top: 1px solid variables.$lighter-background-color
        border-bottom: 1px solid variables.$lighter-background-color

        p
            font-size: variables.$font-size-medium-size

        .contact-box
            width: 40%
            border: 1px solid variables.$lighter-background-color
            border-radius: 10px
            padding: 1rem 3.5rem
            margin: 3rem 1rem
            background-color: variables.$green-background-color   

            p
                line-height: 2.2

            .contact-box-information
                @include mixins.flex-start

                p
                    line-height: 1

.footer
    padding: 1.5rem 0
    text-align: center
    

// Media Queries

@media(max-width: variables.$breakpoint-xl)
    .menu
        @include mixins.flex-center

        .menu-container
            width: 80vw

            .menu-products
                width: inherit

        #menu-menu-title, .lateral-info
            width: 70vw

            hr
                width: 68vw

@media(max-width: variables.$breakpoint-lg)
    .banner-image-container 
        .banner-text
            p
                width: 100vw
                padding: 0 2rem

    .text-container 
        p
            padding: 0

    .about-us-container
        @include mixins.flex-column

        .about-us-image
            img
                width: 100%

    .contact-content

        .box-container
            @include mixins.flex-column
            width: 100%
            justify-content: center

            .contact-box
                width: 80%
                margin: 2rem auto
                padding: 2rem

    .lateral-info
        margin: 0
        margin-bottom: 2rem

@media(max-width: variables.$breakpoint-md)
    .mobile-nav-container 
        display: block  

        .mobile-nav-container:hover
            width: 100vw                         

        .mobile-nav 
            @include mixins.flex-column

            :hover 
                @include mixins.box-shadow

    .nav-container, .logo-container
        display: none

    

    

@media(min-width: variables.$breakpoint-md)
    .mobile-nav-container
        display: none


    






